DATABASE_URL="postgresql://neondb_owner:npg_b1MTfEiGyo2d@ep-weathered-frost-anc3do8a-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_b1MTfEiGyo2d@ep-weathered-frost-anc3do8a.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require"
PORT=3001
NODE_ENV=development
JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=7d
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
FRONTEND_URL=http://localhost:5173
